includes:

parameters:
    phpVersion: 80300

    paths:
        - config/
        - engine/
        - modules/

    # Level 10 is the highest level
    level: 10

    ignoreErrors:
        - '#(mixed)#'

    excludePaths:
        - modules/*/views/*
