includes:

parameters:
    paths:
        - config/
        - engine/
        - modules/

    # Level 10 is the highest level
    level: 10

    ignoreErrors:
        - '#(mixed)#'
        - '#Function sort_by_property\(\) has parameter \$array with no value type specified in iterable type array.#'
        - '#Function sort_rows_by_property\(\) has parameter \$array with no value type specified in iterable type array.#'
        - '#Method Templates::build_additional_includes\(\) has parameter \$files with no value type specified in iterable type array.#'

    excludePaths:
        - modules/templates/views/
